.header{
    height: 72px;
    margin-top: 20px;
    background-image: linear-gradient(to right,#f8f8f8,#f9f8fa);
    padding: 0 !important;

}

body {
    background-color: whitesmoke;
 }

.btn {
    margin-left: 10px;
    background-color: orange;
    
}

.navbar {
    border: 2px none white;
    margin: 5px;
    height: min-content;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 0;
}
.star {
    margin-left: 30px;
}

.top-items {
    margin-right: 500px;
}
li {
    display: inline-block;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.bi {
    font-size: 25px;
}
